body {
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

p {
    font-weight: 400;
    font-size: 18px;
    color: #707070;
    margin: 0%;
}

h2 {
    font-weight: 700;
    font-size: 45px;
    color: #121212;
    margin: 0%;
    margin-top: 130px;
    margin-bottom: 20px;

}

button {
    background-color: rgba(255, 89, 89, 1);
    color: white;
    padding: 12px 16px;
    font-size: 18px;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
}

/* Hero Section */
.hero-section {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0%), rgba(0, 0, 0, 0.9)), url(images/donation6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;

}

.hero-container {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
}

.hero-container h1 {
    color: white;
    text-align: center;
    font-size: 65px;
    margin: 0%;
}

.hero-container p {
    color: white;
    text-align: center;
    font-size: 18px;
}


/* Donate Today Section */
.donate-today-section {
    display: flex;
    justify-content: center;
}

.donate-today-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tk-card-container {
    display: flex;
}

.tk-card-item {
    padding: 25px 40px;
    margin: 10px;
    background: #FAFAFA;
    border-radius: 5px;
}

#tk-card-item-red {
    padding: 25px 40px;
    margin: 10px;
    background: #FFEEEE;
    border: 2px solid rgba(255, 89, 89, 1);
    border-radius: 5px;
}

.tk-card-item p {
    font-weight: 700;
    font-size: 30px;
    color: #707070;
}

#tk-card-item-red p {
    font-weight: 700;
    font-size: 30px;
    color: rgba(255, 89, 89, 1);
}

#amount {
    width: 100%;
    margin-top: 80px;
    margin-bottom: 30px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #DADADA;
    font-size: 18px;
    text-align: center;
}



/* Donate Plan Section */

.donate-plan-section {
    display: flex;
    justify-content: center;
}

.donate-plan-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-description-container {
    display: flex;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: center;
}


#card1 {
    background: rgba(79, 157, 166, 0.1);
    ;
    padding: 24px;
    margin-right: 24px;
    border-radius: 5px;
}

#card2 {
    background: rgba(255, 89, 89, 0.1);
    padding: 24px;
    margin-right: 24px;
    border-radius: 5px;
}

#card3 {
    background: #FFF4D6;
    padding: 24px;
    border-radius: 5px;
}

/* Corporate Partner Section */
.partners-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}

.partner-img {
    height: 30px;
    margin: 10px;
    margin-top: 50px;
}


/* Email Section */

.email-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mail-container {
    display: flex;
    background-color: #FFF4D6;
    padding: 100px;
    margin-top: 50px;
    margin-bottom: 100px;
    align-items: center;
}

#email {
    width: 300px;
    height: 40px;
    border: none;
    background-color: #D9D9D9;
    text-align: left;
    border-radius: 5px 0px 0px 5px;
    padding-left: 20px;
    font-size: 14px;
}

#subscribe {
    background-color: rgba(255, 89, 89, 1);
    color: white;
    width: 120px;
    height: 42px;
    font-size: 18px;
    text-align: center;
    border-radius: 0px 5px 5px 0px;
    border: none;
    margin: 0%;
}

/* Footer Section */

.footer-section {
    background-color: #0B0D17;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0%;
    padding: 50px;


}


.footer-section h2 {
    color: rgba(255, 89, 89, 1);
    margin: 0%;
}

.footer-section p {
    color: #D9DBE1;
    ;
}