body {
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
}

.hero-section {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0%), rgba(0, 0, 0, 0.9)), url(images/donation6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}

.hero-container {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
}

.hero-container h1 {
    color: white;
    text-align: center;
    font-size: 65px;
    margin: 0%;
}

.hero-container p {
    color: white;
    text-align: center;
    font-size: 18px;
}

.btn {
    background-color: tomato;
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    margin: auto;
    margin-top: 10px;
}